

.fit-picture{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
   
    background: url("../img/john-looy-X3DZ1c7MPa4-unsplash.png");
    z-index: -1;
    background-repeat: no-repeat;
}

header.page-header {
    display: flex;
    height: 115px;
    width: 1503px;
    margin: 0 auto;
    align-items: center;
    color: #fff;
    text-shadow: #000 0 0 .2em;
    background-color: #fff;
    z-index: 1;
}

.header-right a{
    text-decoration: none;
}
